


<section >
    <h1>My Gallery</h1>
<div class="container">
    <div class="Maindiv">
    <div class="auto-slider">
    <div id="slider">
        <figure>
                 <img src="assets/image/p2.jpg" alt="Image">
            <img src="assets/image/p3.jpg" alt="Image">
            <img src="assets/image/p4.jpg" alt="Image">
    
         <img src="assets/image/pooja4.jpg" alt="Image">
         <img src="assets/image/pooja3.jpg" alt="Image">
         <img src="assets/image/pooja.jpg" alt="Image">
    
         </figure>
    
        <div class="indicator"></div>
    </div>
     
    </div>
    </div>
</div>
    </section>

