
<section  style=" background: #fff;" id="Aboutsession">
        
    <div class="container" style="height: auto;">
         <div class="img_logo">
            <img  src="/assets/image/pooja3.jpg" id="pooja" alt="" />
          </div>
        <div>
            <p class="about-para-w3ls" id="aboutdiv"><span>
                <b><span style="float: left;">Hello,</span><br>
                    I am pooja. i am a Full Stack Developer and Current working in Ness Technologies. 
               Passionate about developing and implementing new functionalities, Code, compile, run Unit Tests & fix defects. Collaborate with other team members to create quicker issue resolution to achieve high customer satisfaction Having hands-on experience of OOP principles.
               Strong programming skills, problem-solving ability, and understanding of coding aesthetics.
               Get actively involved in Training, self-development & knowledge sharing, Participation in user’s functional requirement studies. 
                Engage in requirements elaboration and clarification with business analysis. </b>
            </span></p>
            </div>
        </div>



</section>
