<section id=skilllsdiv>
    <h1 >SKILLS</h1>

    <div class="container1">
     
        <div class="row">
            <div class="col-lg-2">
                <div class="price-gd-top">
                    <img src="assets/image/c.jpg" alt=" " class="img-responsive"/>
                    <a href="online_courses_details.html" > <h4  style="padding-left: 2px; padding-top: 20px">C &nbsp;Programming</h4> </a>
                    <div class="price-gd-bottom">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="price-block agile">
                    <div class="price-gd-top">
                        <img src="assets/image/cpp.png" alt=" " class="img-responsive" />
                        <a href="online_courses_details.html" > <h4 style="padding-left: 2px; padding-top:20px">C++ &nbsp;Programming<br></h4> </a>
                    </div>
                    <div class="price-gd-bottom">
                           </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="price-block agile">
                    <div class="price-gd-top">
                        <img src="assets/image/adv_java.jpg" alt=" " class="img-responsive" />
                        <a href="online_courses_details.html" >  <h4 style="padding-left: 2px; padding-top:20px" >Advanced Java</h4> </a>
                    </div>
                    <div class="price-gd-bottom">
                                           </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="price-block agile">
                    <div class="price-gd-top">
                        <img src="assets/image/mydql.png"  alt=" " class="img-responsive"/>
                        <a href="online_courses_details.html" > <h4 style="padding-left: 20px; padding-top:20px"  >&nbsp;&nbsp;DBMysql&nbsp;<br><br></h4>	</a>
                    </div>
                    <div class="price-gd-bottom">
                                  </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="price-block agile">
                    <div class="price-gd-top">
                        <img src="assets/image/core_java.jpg" alt=" " class="img-responsive" />
                        <a href="online_courses_details.html">  <h4 style="padding-left: 2px; padding-top:20px" > &nbsp; Core &nbsp;Java &nbsp;&nbsp;</h4></a>
                    </div>
                    <div class="price-gd-bottom">
                              </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="price-block agile">
                    <div class="price-gd-top">
                        <img src="assets/image/ds.png"  alt=" " class="img-responsive" />
                        <a href="online_courses_details.html" > <h4 style="padding-left: 2px; padding-top:20px" >Data Structure</h4> </a>	
                    </div>
                    <div class="price-gd-bottom">
                                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

