<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-lg-8">
                <ul class="social-icons3">
                    <li><a href="https://www.facebook.com/pooja.konde.311" class="fa fa-facebook icon-border facebook"> </a></li>
                    <li><a href="https://twitter.com/konde_pooja?s=09" class="fa fa-twitter icon-border twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
                    <li><a href="https://www.linkedin.com/in/pooja-konde-798949189" class="fa fa-linkedin  icon-border linkedin"> </a></li>
                </ul>
            </div>
            <div class="col-lg-4" id="div2">
                <ul>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:poojakonde30@gmail.com">poojakonde30@gmail.com</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+91 9975730983</li>	
                </ul>
                
            </div>
        </div>
        
    </div>
</body>
</html>