<section>
    <div class="footer" id="MoreInfo" >
        
                <div class="row" >
               
            <div class="col-lg-3" >
                <h3><span  style="color:#ecbf11"> <b>MORE INFORMATION</b> </span></h3> 
                <div class="a">
                    <span  style="color:white;height:auto" id="content"> 
                      Father Name: Popat Konde<br>
                      Mother Name: Kamal Konde<br>
                      Blood Group: B+<br>
                      Birth Date: 30Th March 1998<br>
                      Birth Place: Kelawade<br>
                    </span></div>
            </div>
            <div class="col-lg-3">
                <h3><span style="color:#ecbf11"> <b>Hobbies</b> </span></h3> 
                <div class="a">
                    <span  style="color:white;height:auto" id="content"> Play Chess<br>
                        Writing Poems<br>
                        Teaching<br>
                         Listening Music<br>
                    </span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3><span style="color:#ecbf11"> <b>Certificates</b> </span></h3>
                <div class="a">
                    <span  style="color:white;height:auto" id="content">
                        Participate in DCB Hackathon,2017<br>
                        Event Co-Ordinator of National level Presentation<br>
                        Winner of Logo Competition<br>
                        Winner of Chess Competition<br>
                        </span>
                </div>
            </div> 
            <div class="col-lg-3">
                <h3><span style="color:#ecbf11"> <b>Languages Known</b> </span></h3> 
                <div class="a">
                    <span  style="color:white;height:auto" id="content">
                    English<br>
                    Hindi<br>
                    Marathi<br>
                    </span><br>
                </div>
            </div>
                 
        </div>
    </div>
   
</section>

<div id="footerdiv">
    <h5>My Profile</h5>
                   
    </div> 