
    <div class="row" id="rowdiv">
        <div class="col-lg-4">
            <h1 style="margin-left: 10px; margin-top: 2%; color: blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 35px;">Pooja Popat Konde</h1>
             
        </div>
        <div class="col-lg-8"  id="innerdiv">
            <ul>
                <li style="padding-right: 20px;" class="menu__item menu__item--current"><a href="index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item"><a routerLink="/about" class="menu__link scroll">About</a></li>
                <li class="menu__item"><a routerLink="/education" class="menu__link scroll">Education</a></li>
                <li class="menu__item"><a routerLink="/projects" class="menu__link scroll">Projects</a></li>
                <li class="menu__item"><a routerLink="/skills" class="menu__link scroll">Skills</a></li>
                <li class="menu__item"><a routerLink="/gallery" class="menu__link scroll">Gallery</a></li>
              
                <li class="menu__link "><a  routerLink="/footercomponent"  class="menu__link scroll">Hobbies</a></li>
                <li style="padding-right:0px;" routerLink="/contact"><a  class="menu__link scroll">Contact </a></li>
            </ul>
        </div>
    </div>

    
    
 