
<section id="projects">
    <h1>PROJECTS</h1>
    <div class="container">
        <div class="row">
           
            <div class="col-lg-4">
                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span>Rate analysis & cost estimation for building and
                            construction industry</span></h3>
                    <p><span>
                            dedicated client portal to track trips and billing of travel agencies. Customer profile &
                            credit days setting. Individual group & consolidated invoices.
                        </span> </p><br>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span>Secure File Handling System For Cloud Computing
                            With Load Balancing:</span></h3>
                    <p><span >
                            The main objective behind project is to provide the security and prevent unauthorized access
                            to the data store on cloud and balancing load of cloud drive.

                        </span>
                    </p><br>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span>Hash Pro Android application</span></h3>
                    <p><span >
                            Exclusive android application designed for working professionals from IT background
                            students.
                        </span>
                    </p><br>
                </div>
            </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
            <div class="col-lg-4">
                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span>
                            USB Detection and Monitoring System:</span></h3>
                    <p><span >
                            The main objective behind this how to detect or catch the image of person who missed behave
                            with our system or machine. Understanding the which data is copy your pc or laptop.
                        </span>
                    </p><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span>ETE PROJECTS PVT LTD WEBSITE</span></h3>
                    <p><span >
                            The main objective behind the website is provide all information about the company.
                        </span>
                    </p><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div style="text-align: center;font-family: sans-serif;padding:12px;">
                    <h3><span> ETE TECHNOSOFT LLP WEBSITE </span></h3>
                    <p><span >
                            The main objective behind the website is provide all information about the company.
                        </span>
                    </p><br>
                </div>
            </div>
            </div>
        </div>
</section><br><br>